<div class="mt-6">
    <div>
        <app-main-carousel />
    </div>

    </div>
    <div>
    <app-product-slider title="Men's Jeans" [products]="products"></app-product-slider>
     <!-- <app-product-slider title="Women's Gowns" [products]="products"></app-product-slider>  -->
    <!-- <app-product-slider title="Lehanga choli" [products]="lenghaCholi"></app-product-slider>
    <app-product-slider title="Men's kurta" [products]="mensKurta"></app-product-slider>
    <app-product-slider title="Shoes" [products]="mensShoes"></app-product-slider>  -->

  <div>

  </div>
</div>