<div class="user-table">
    <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-md overflow-hidden mt-10">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-2 px-4">Name</th>
          <th class="py-2 px-4">Email</th>
          <th class="py-2 px-4">Phone</th>
          <th class="py-2 px-4">Address</th>
          <!-- Add more table headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="border-t">
          <td class="py-2 px-4">{{ user.firstName + ' ' + user.lastName }}</td>
          <td class="py-2 px-4">{{ user.email }}</td>
          <td class="py-2 px-4">{{ user.phone }}</td>
          <td class="py-2 px-4">{{ user.address }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>