<!-- RegisterPage -->

<div *ngIf="!showLogin" class="flex items-center justify-center py-24 ">
  <div class="bg-slate-100 rounded-lg shadow-lg p-8 w-96">
    <h1 class="text-2xl font-semibold mb-6">Login</h1>
    <form (ngSubmit)="loginCheck()" method="post">

      <div class="mb-4">
        <input [(ngModel)]="login.email" type="email" id="email" name="email"
          class="w-full rounded-md border-2 border-gray-300 px-3 py-2 "
          placeholder="email/username" #t1="ngModel">
      </div>

      <div *ngIf="t1.invalid && t1.touched">
        <div *ngIf="t1.hasError('required')" class="alert alert-danger">
          Email is required
        </div>
        <div *ngIf="t1.hasError('minlength')" class="alert alert-danger">
          Email should contain atleast 3 characters
        </div>
      </div>

      <div class="mb-4">
        <input [(ngModel)]="login.password" type="password" id="password" name="password"
          class="w-full rounded-md border-2 border-gray-300 px-3 py-2 "
          placeholder="password" #t2="ngModel">
      </div>
      <div *ngIf="t2.invalid && t2.touched">
        <div *ngIf="t2.hasError('pattern')" class="alert alert-danger">
          Password is not entered correctly
        </div>
      </div> 
      <div class="mt-6">
        <button type="submit"
          class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600">Login</button>
      </div>
      <h2>{{ messageIfAny }}</h2>

      <div class="mt-6 text-lg underline-on-focus">
        <a (click)="OpenToRegister()">Register to new Account</a>
      </div>
    </form>
  </div>
</div>


<div *ngIf="showLogin" class="flex items-center justify-center py-20 ">
  <div class="bg-slate-100 rounded-lg shadow-lg p-8 w-96">
    <h1 class="text-2xl font-semibold mb-6">Create Account</h1>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="registerCheck()" class="space-y-6" action="#" method="POST">

      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900">Name</label>
        <div class="mt-2">
          <input [(ngModel)]="register.name" id="rname" name="rname" type="text" class="block w-full rounded-md border-2 py-1.5 text-gray-900 ">
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900">Location</label>
        <div class="mt-2">
          <input [(ngModel)]="register.location" id="location" name="location" type="text" class="block w-full rounded-md border-2 py-1.5 text-gray-900 ">
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input [(ngModel)]="register.email" id="email" name="email" type="email" 
          class="block w-full rounded-md border-2 py-1.5 text-gray-900 ">
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        <div class="mt-2">
          <input [(ngModel)]="register.password" id="password" name="password" type="password"
            class="block w-full rounded-md border-2 py-1.5 text-gray-900 ">
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white ">Register</button>
      </div>

    </form>
  </div>

  <div class="text-center mt-8 text-lg underline-on-focus">
    <a (click)="OpenToSignup()">Have Account. Login ..</a>
  </div>
  </div>
  <!-- <a (click)="OpenToSignup()">don't have Account? click to Signup</a> -->
</div>