<ul class="flex my-10 text-lg font-extrabold uppercase leading-tight text-black bg-slate-300">
    <li class="flex-auto text-center mt-5 mb-5">
        RETAILER PROFILE
    </li>
</ul>

<ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0">
  <li class="flex-auto text-center">
    <a href="login.html" class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-lg font-extrabold uppercase leading-tight text-black hover:isolate hover:border-transparent hover:bg-slate-300 focus:isolate focus:border-transparent dark:text-neutral-400 dark:hover:bg-transparent ">
      Home</a>
    </li>

    <li class="flex-auto text-center">
      <a href="retailer-product.html" class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-lg font-extrabold uppercase leading-tight text-black hover:isolate hover:border-transparent hover:bg-slate-300 focus:isolate focus:border-transparent dark:text-neutral-400 dark:hover:bg-transparent ">
        RETAILER DETAILS</a>
      </li>

      <li class="flex-auto text-center">
        <a (click)="OpenToAddProduct()" class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-lg font-extrabold uppercase leading-tight text-black hover:isolate hover:border-transparent hover:bg-slate-300 focus:isolate focus:border-transparent dark:text-neutral-400 dark:hover:bg-transparent ">
          ADD PRODUCT</a>
        </li>

        <li class="flex-auto text-center">
          <a href="login.html" class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-lg font-extrabold uppercase leading-tight text-black hover:isolate hover:border-transparent hover:bg-slate-300 focus:isolate focus:border-transparent dark:text-neutral-400 dark:hover:bg-transparent ">
            DELETE ACCOUNT</a>
          </li>

</ul>

<div class="mb-56">

</div>