<!-- <table class="table-fixed bg-white text-2xl text-black border-spacing-2 border border-slate-400 mt-7 border-collapse">
  <thead>
    <tr>
      <th class="p-4">Order ID</th>
      <th class="p-4">Product Name</th>
      <th class="p-4">Order Date</th>
      <th class="p-4">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td class="p-4">{{ order.orderId }}</td>
      <td class="p-4">{{ order.productName }}</td>
      <td class="p-4">{{ order.orderDate }}</td>
      <td class="p-4">{{ order.orderStatus }}</td>
    </tr>
  </tbody>
</table> -->
