
<table class="table-fixed bg-white text-2xl text-black  border-spacing-2 border border-slate-400 mt-7 border-collapse">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Order Date</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Shoes</td>
        <td>18-10-2023</td>
        <td>Delivered</td>
      </tr>
     
      <tr>
        <td>2</td>
        <td>Bag</td>
        <td>21-10-2023</td>
        <td>In Process</td>
      </tr>
     

      <tr>
        <td>3</td>
        <td>Cloth</td>
        <td>10-10-2023</td>
        <td>Delivered</td>
      </tr>
     
    </tbody>
    
  </table>
